/* body */
body {
    font-family: Arial, sans-serif;
    background-color: #190A4D;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.box {
  background-color: #1B4153;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 


/* header */
h2 {
  color: #333;
  text-align: center;
}

/* data container */
.data-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #ddd;
}

.data-header {
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

.data-text {
  font-size: 1.2em;
  color: white;
}

/* table container */
.table-container {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ddd;
}

.table-header {
  background-color: #333;
  color: #fff;
}

.table-header th {
  padding: 10px;
  text-align: left;
}

.table-text td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* footer */
.footer-link {
  display: inline-block;
  margin: 10px;
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
